
.DavidWu {
    padding: 15px;
    color: #ffffff;
    position: relative;
    left: 30%;
    width: 150px;
    background-color: teal;
    float: left;
}

.links {
    float: right; 
    padding: 10px;
}

